<head>
    <title>Tipos de Pessoa</title>
</head>

<po-modal #modal [p-title]="title + 'Veículo'">
    <form [formGroup]="form">
        <po-input formControlName="tipo" p-label="Descrição" name="tipo" [p-show-required]="true"
            p-required></po-input>
    </form>

    <po-modal-footer [p-disabled-align]="false">
        <po-button p-danger="true" p-label="Cancelar" (p-click)="fecharModal()"></po-button>
        <po-button [p-disabled]="!form.valid" p-kind="primary" [p-label]="title==='Cadastrar'?'Cadastrar':'Atualizar'"
            [p-loading]="loading" (p-click)="salvar(this.id)"></po-button>
    </po-modal-footer>
</po-modal>

<po-page-list [p-actions]="actions" p-title="Tipo de Pessoa">
    <po-table [p-columns]="columns" (p-delete-items)="apagar(id_linha)" [p-height]="700" [p-infinite-scroll]="false"
        [p-items]="items" [p-loading]="loading" [p-selectable]="true" [p-selectable-entire-line]="false"
        (p-selected)="selecionado($event.id)" [p-single-select]="true" [p-sort]="true" [p-striped]="true">
        <ng-template p-table-cell-template let-column="column" let-row="row">
            <span class="po-clickable po-icon po-icon-edit" style="font-size: 20px;" (click)="editar(row.id)"></span>
        </ng-template>
    </po-table>
</po-page-list>